@page
@{
    ViewData["Title"] = "Trang Chủ";
}
<div class="main">
    <div class="main-content" id="main-content">
        <div class="main-content type-card" id="artis-card">
            <div class="title-card-main-content"><div class="un834rfniub"><b><a class="link-card" href="#">Artris</a></b></div><div class="h34hn8cth3"><a class="showall-link" href="allArtist">Xem tất cả</a></div></div>
            <div class="type-card-content">
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content type-card" id="viral-card">
            <div class="title-card-main-content"><div class="un834rfniub"><b><a class="link-card" href="#">Viral Music</a></b></div><div class="h34hn8cth3"><a class="showall-link" href="#">Xem tất cả</a></div></div>
            <div class="type-card-content">
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content type-card" id="new-product-card">
            <div class="title-card-main-content"><div class="un834rfniub"><b><a class="link-card" href="#">Top Listen</a></b></div><div class="h34hn8cth3"><a class="showall-link" href="allRecord">Xem tất cả</a></div></div>
            <div class="type-card-content">
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content type-card" id="category-card">
            <div class="title-card-main-content"><div class="un834rfniub"><b><a class="link-card" href="#">Thể loại được yêu thích</a></b></div><div class="h34hn8cth3"><a class="showall-link" href="/Categorys">Xem tất cả</a></div></div>
            <div class="type-card-content">
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div><div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
                <div class="loader">
                    <div class="wrapper">
                        <div class="circle"></div>
                        <div class="line-1"></div>
                        <div class="line-2"></div>
                        <div class="line-3"></div>
                        <div class="line-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>