@page "{id}"
@model MusicCenterAPPWEB.Pages.pay_confirmModel
@{

}
<div class="main">
    <div class="main-content" style="padding: 50px">
        <div style="color: white; margin: auto auto">
            <h3 style="font-size:50px">@Model.messager</h3>
            <h3 style="font-size:30px">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</h3>
            <img src="~/lib/crown-minimalistic-svgrepo-com.svg" style="width:100px;height:100px"/>
        </div>
    </div>
</div>